/* .exclamation-photo {
}
.list-error {
    min-height: 100%;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    top: 0;
    left: 0;
}
.consalte-card {
    width: 172px;
    background: #1890ff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: 0;
    margin-top: 12px;
}
.calendar-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 12px;

    color: rgba(0, 0, 0, 0.85);
}
.calendar-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;

    color: rgba(0, 0, 0, 0.45);
}
.calendar-main {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    text-align: center;

    color: #ffffff;
}
.about-list {
    text-align: center;
    margin-top: 15%;
} */
